# DB bike share data
https://www.kaggle.com/c/bike-sharing-demand/data

### quick exploratory analysis in python

In [5]:
import pandas
url = "s3://mids-w205-fall2016/bike_share_dc.csv"

df = pandas.read_csv(url)
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,127,132
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,35,41
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [8]:
df.groupby('season')['count'].sum()

season
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [9]:
df.groupby('weather')['count'].sum()

weather
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

### load it into a Data Lake 

1. get the data to your machine
```
wget https://s3.amazonaws.com/mids-w205-fall2016/bike_share_dc.csv
```

1. strip the header line
```
tail -n +2 bike_share_dc.csv  > bike_share_no_header.csv
```

1. check 
```
wc -l bike*
```

1. make a directory and check
```
hdfs dfs -mkdir bike_share
hdfs dfs -ls
```

1. put the file in hdfs and check
```
hdfs dfs -put bike_share_no_header.csv bike_share
hdfs dfs -ls /user/w205/bike_share
```

1. still need the header info to make a SQL script to create table in Hive.  
```
    drop table bike_share_raw;
    
    create external table bike_share_raw
    (
    datetime string,
    season int,
    holiday int,
    workingday int,
    weather int,
    temp float,
    atemp float,
    humidity float,
    windspeed float,
    casual int,
    registered int,
    count int
    )

    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    LOCATION '/user/w205/bike_share'
```

1. put in the seasons file and check
```
hdfs dfs -mkdir season
hdfs dfs -put season.csv season
hdfs dfs -ls season
```

1. 
```
hdfs dfs -mkdir weather
hdfs dfs -put weather.csv weather
hdfs dfs -ls weather
```

1. add season table to hive
```
    drop table seasons;

    create external table seasons
    (
    season int,
    name string
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    LOCATION '/user/w205/season'
    ; 
```

1. add weather to hive 
```
    drop table weather;
    create external table weather
    (
    weather int,
    name string
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '\t'
    STORED AS TEXTFILE
    LOCATION '/user/w205/weather'
    ;
```

1. run the sql file to do all the data insertion
```
hive -f make_table.sql
```

1. run some queries in hive to make sure it worked
```
    select * from bike_share_raw bs
    join seasons s on s.season = bs.season
    limit 10;
```

### do some trivial transformation 

1. create a new transformed table
```
    drop table bike_seasons;

    CREATE TABLE bike_seasons AS
    select
    bs.datetime as datetime, s.name as season, bs.count as rentals
    from bike_share_raw bs
    join seasons s on s.season = bs.season
    ;
```

### do some analysis

1. group by season
```
select season, sum(rentals) 
from bike_seasons 
group by season 
;
```

1. check output .. strange that there are more rentals in winter than spring
```
fall	640662
spring	312498
summer	588282
winter	544034
```

1. another query in case there is worse weather in the spring
```
select  sum(rentals) , season, weather
from bike_seasons 
group by season, weather
;
```

4. check output .. still not clear
```
    fall	Clear, Few clouds, Partly cloudy, Partly cloudy 	470116
    fall	Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 	31160
    fall	Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 	139386
    spring	Clear, Few clouds, Partly cloudy, Partly cloudy 	223009
    spring	Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 	164
    spring	Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 	12919
    spring	Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 	76406
    summer	Clear, Few clouds, Partly cloudy, Partly cloudy 	426350
    summer	Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 	27755
    summer	Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 	134177
    winter	Clear, Few clouds, Partly cloudy, Partly cloudy 	356588
    winter	Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 	30255
    winter	Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 	157191
```